<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit book</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>

			<div class="row">
				<div class="col-md-1">
			  		<label for="title" class="form-label">Title</label>
			  	</div>
			  	<div class="col-md-3">
					<input type="text" class="form-control" id="title" th:field="*{title}" />
			  	</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-1">
			  		<label for="author" class="form-label">Author</label>
			  	</div>
			  	<div class="col-md-3">
					<input type="text" class="form-control" id="author" th:field="*{author}" />
			  	</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-1">
			  		<label for="isbn" class="form-label">ISBN</label>
			  	</div>
			  	<div class="col-md-3">
					<input type="text" class="form-control" id="isbn" th:field="*{isbn}" />
			  	</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-md-1">
			  		<label for="year" class="form-label">Year</label>
			  	</div>
			  	<div class="col-md-3">
					<input type="text" class="form-control" id="year" th:field="*{year}" />
			  	</div>
			</div>
			<br/>
			<div class="row form-group">
				<div class="col-md-1">
			  		<label for="year" class="form-label">Category</label>
			  	</div>
			  	<div class="col-md-3">
					<select class="form-control" th:field="*{category}">
			            <option th:each="cat : ${categories}"
			                    th:text="${cat.name}"
			                    th:value="${cat.id}">
					</select>
			  	</div>
			</div>
			<br/>
			<input class="btn btn-success" type="submit" value="Save"></input>			
		</form>
	</div>
</body>
</html>